/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
   box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}
.container {
   position: fixed;
   color: white;
   background: rgba(0, 0, 0, 0.8);
   padding: 0.5rem;
}
.container .selection {
   font-size: 1.5rem;
   text-align: left;
   padding: 1rem;
}
.container .selection input {
   font-size: rem;
   padding: 0;
   margin-top: 0;
}
.container .selection label {
   font-size: 1.5rem;
   padding-left: 0.5rem;
}
.container.selButton {
   font-size: 1.5rem;
   display: block;
   margin: 0 auto;
}

.main {
   width: 100%;
}
.main #userTeam {
   height: 2rem;
   width: 15rem;
   border: 1px solid black;
   padding-left: 0.5rem;
}
.main h1 {
   margin-top: 15rem;
}
.main a {
   color: white;
   cursor: pointer;
   background: rgba(197, 0, 0, 1);

   padding: 0.5rem;
   border-radius: 2rem;
   margin: 0 1rem 0;
}
.main a:hover {
   color: black;
}
.infoContainer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 2rem auto;
}
.infoContainer h2,
.infoContainer h3 {
   font-size: 2.2rem;
   width: 100%;
   padding: 0.5rem;
   margin: 0;
}
.infoContainer h3 {
   font-size: 1.5rem;
}
.playerInfo {
   /* max-width: 745px; */
   display: flex;
   justify-content: center;
   text-align: center;
   align-content: center;
}
.playerInfo li {
   list-style: none;
   text-align: left;
   padding: 0.25rem 0;
}
.holderList {
   font-size: 1.5rem;
   font-weight: bold;
   padding: 0;
}
.holderList ul {
   font-size: 1.1rem;
   font-weight: normal;
   margin: 1rem 0;
   padding: 0;
}
#playerNames li {
   width: 185px;
   text-align: center;
}
#playerPositions li {
   width: 144px;
   text-align: left;
}
#jerseyNumbers li {
   width: 100px;
   padding-left: 1rem;
}

.notShown {
   visibility: hidden;
}
.hidden {
   visibility: hidden;
}

h5 {
   margin: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 415px) {
   .container .selButton {
      font-size: 1.8rem;
   }
   .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .main h1 {
      font-size: 2rem;
   }
   .main #userTeam {
      height: 3rem;
      width: 17rem;
      font-size: 1.75rem;
   }
   .main a {
      height: 2.7rem;
      line-height: 2.7rem;
      font-size: 1.5rem;
      background: rgb(197, 0, 0);
      padding: 0.75rem 1.5rem;
      margin-top: 1.5rem;
   }
   .playerInfo {
      width: 100%;
      padding: 0 0.5rem;
   }
   .holderList li {
      font-size: 1rem;
   }
   h5 {
     font-size: 1rem;
      text-align: center;
   }
   .position h5 {
      text-align: left;
   }
   .number h5 {
      margin-left: 1.5rem;
   }
   #playerNames li {
      width: 185px;
      text-align: center;
   }
   #playerPositions {
      width: 115px;
   }
   #playerPositions li {
      width: 95px;
   }
   #jerseyNumbers li {
      width: 65px;
      padding-left: 1.5rem;
      margin-left: 1rem;
   }
}
@media screen and (max-width: 360px) {
   #playerPositions {
      width: 100px;
   }
   #playerPositions li {
      width: 100px;
      padding-right: 1.5rem;
      margin: 0;
   }
}
